<%= form_for [@commit, @approval] do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input">
    <%= f.text_area :comment, :rows => 4 %>
  </div>

  <div class="actions">
    <%= content_tag :button, "Save", :type => :submit %>
    or
    <%= link_to 'Back', commit_path(@commit) %>
  </div>
<% end %>
