<div id="message">
  <%= image_tag(@commit.user.avatar.thumbnail.url, :alt => @commit.user.email, :class => "avatar") %>
  <div class="bubble">
    <%= @commit.message %>
  </div>
</div>

<ul id="diff_actions">
  <li><%= link_to "Approval", new_user_commit_approval_path(current_user, @commit) %></li>
  <li><%= link_to "Concern", new_user_commit_concern_path(current_user, @commit) %></li>
</ul>

<div id="diff">
  <pre><%= @commit.diff_source %></pre>
</div>

<%= render :partial => 'shared/timestamps', :locals => { :record => @commit } %>

<p id="links">
  <% if current_user == @commit.user %>
    <%= link_to 'Edit', edit_user_commit_path(@commit.user, @commit) %> or
  <% end %>
  <%= link_to 'Back', root_path %>
</p>
