<div id="message">
  <%= image_tag(@commit.user.avatar.thumbnail.url, :alt => @commit.user.email, :class => "avatar") %>
  <div class="bubble">
    <%= @commit.message %>
  </div>
</div>

<div id="diff_actions">
  <%= link_to "Mark this approved", new_commit_approval_path(@commit), :id => "approve_link" %> or
  <%= link_to "voice a concern", new_commit_concern_path(@commit), :id => "concern_link" %>
  <%= javascript_tag do %>
    Event.observe('approve_link', 'mousedown', function(event) {

      return false;
    });
  <% end %>
</div>

<p id="download"><%= link_to "Download", @commit.diff.url %></p>
<div id="diff">
  <pre><%= @commit.diff_source %></pre>
</div>

<%= render :partial => 'shared/timestamps', :locals => { :record => @commit } %>

<p id="links">
  <% if current_user == @commit.user %>
    <%= link_to 'Edit', edit_commit_path(@commit) %> or
  <% end %>
  <%= link_to 'Back', root_path %>
</p>
