<ul id="messages">
  <%= render :partial => 'shared/bubble', :collection => [@commit, @commit.voices].flatten.sort!{ |a,b| a.created_at <=> b.created_at } %>
</ul>

<div id="diff_actions">
  <%= form_for [@commit, @voice], :remote => true do |f| %>
    <% if @voice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@voice.errors.count, "error") %> prohibited this approval from being saved:</h2>

        <ul>
        <% @voice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="voice">
      I have a <%= f.select :tone, Voice.tones.map{ |tone| [tone.titlecase, tone] } %>, <%= f.text_field :comment %> <%= content_tag :button, "Send!", :type => :submit %>
    </div>
  <% end %>
</div>

<div id="diff">
  <pre><%= @commit.diff_source %></pre>
  <div id="download"><%= link_to "Download", @commit.diff.url %></div>
</div>

<p id="links">
  <% if current_user == @commit.user %>
    <%= link_to 'Edit', edit_commit_path(@commit) %> or
  <% end %>
  <%= link_to 'Back', root_path %>
</p>
