<ul id="messages">
  <%= render :partial => 'shared/bubble', :collection => [@commit, @commit.concerns, @commit.approvals].flatten.sort!{|a,b| a.created_at <=> b.created_at } %>
</ul>

<div id="diff_actions">
  <%= link_to "Mark this approved", new_commit_approval_path(@commit) %> or
  <%= link_to "voice a concern", new_commit_concern_path(@commit) %>
</div>

<div id="diff">
  <pre><%= @commit.diff_source %></pre>
  <div id="download"><%= link_to "Download", @commit.diff.url %></div>
</div>

<p id="links">
  <% if current_user == @commit.user %>
    <%= link_to 'Edit', edit_commit_path(@commit) %> or
  <% end %>
  <%= link_to 'Back', root_path %>
</p>
