<%
  css_arr = []
  css_arr << 'first' if bubble_counter == 0
  css_arr << 'even' if bubble_counter % 2 != 0
  css_class = css_arr.join(" ")
%>
<%= content_tag "li", :class => (css_class unless css_class.blank?), :id => "bubble_#{bubble.respond_to?(:tone) ? bubble.tone : "commit"}_#{bubble.id}" do %>
  <div>
    <%= image_tag(bubble.user.avatar.thumbnail.url, :alt => bubble.user.email, :class => "avatar") %>
    <div class="bubble <%= bubble.class == Commit ? "commit" : bubble.tone %>">
      <p>
        <%= bubble.comment %>
      </p>
    </div>
  </div>
  <p class="timestamp">
    <%= bubble.class == Commit ? "Commit" : bubble.tone.titlecase %> from <%= mail_to bubble.user.email %> on <time datetime="<%= bubble.created_at.iso8601 %>"><%= bubble.created_at.strftime("%A, %B #{bubble.created_at.day.ordinalize} at %l:%M%p") %></time>.

    <% if current_user == bubble.user %>
      <% if bubble.class == Commit %>
        <%= link_to "Delete", commit_path(bubble), :method => :delete, :class => "delete", :confirm => "Are you sure?" %>
      <% else %>
        <%= link_to "Delete", commit_voice_path(bubble.commit, bubble, :format => :js), :method => :delete, :class => "delete", :confirm => "Are you sure?", :remote => true %>
      <% end %>
    <% end %>
  </p>
<% end %>
