<%= form_for [@commit, @concern] do |f| %>
  <% if @concern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concern.errors.count, "error") %> prohibited this concern from being saved:</h2>

      <ul>
      <% @concern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_area">
    <%= f.text_area :comment, :rows => 4 %>
  </div>

  <div class="actions">
    <%= content_tag :button, "Save", :type => :submit %>
    or
    <%= link_to 'Back', commit_path(@commit) %>
  </div>
<% end %>
