<!DOCTYPE html>
<!--

        .-.                          .-.
      ;' (_)        .-.            ;' (_)
    .:'      .-.    `-'    .     .:'      .-.,,  . ,';.  .-.
   .:'      ;   ;  ;'    .';    .:'      ;   :   ;;  ;;.;.-'
 .-:.    .-.`;;'_.;:._..'~.'  .-:.    .-.`:::'-'';  ;;  `:::'
(_/ `;._.             '      (_/ `;._.          ;    `.

-->
<html>
<head>
  <meta charset="utf-8">
  <title>Lois Lane</title>
  <%= include_stylesheets :minimal, :media => :all %>
  <%= include_javascripts :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <header>
    <h2>Lois Lane</h2>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <footer>
    <p>This application was built and designed by <a href="http://tonycoconate.com">Tony Coconate</a>.</p>
  </footer>
  <%= render 'shared/flash_messages' %>
</div>
</body>
</html>
